<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} | Dara Du Yaaku</title>
        {% block stylesheets %}
            <link rel='stylesheet' href='{{ asset('bundles/app/css/settings.css') }}' type='text/css' media='all' />
            <link rel='stylesheet' href='{{ asset('bundles/app/css/style.css') }}' type='text/css' media='all' />
            <link rel='stylesheet' href='{{ asset('bundles/app/css/js_composer.min.css') }}' type='text/css' media='all' />

            <link rel="icon" href="upload/cropped-favicon-32x32.png" sizes="32x32" />
            <link rel="icon" href="upload/cropped-favicon-192x192.png" sizes="192x192" />
            <link rel="apple-touch-icon-precomposed" href="upload/cropped-favicon-180x180.png" />

            <link href="http://fonts.googleapis.com/css?family=PT+Serif%3Aitalic" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
            <link href="http://fonts.googleapis.com/css?family=Montserrat%3A700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
            <link href="http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C600" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
            <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Abril+Fatface%3Aregular&amp;ver=4.5.3' type='text/css' media='all' />

            <!--Intégration de l'api google map-->
         {#   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuyq1XFgBGADsQGkIDUl-eTjhfEp8TqWw&callback=initMap"
                    async defer>
            </script>#}

            {#<script src="https://maps.googleapis.com/maps/api/place/autocomplete&language=fr&key=AIzaSyCiuDG2EjYgrmBdetIaINPQRraWxUpR1TM"></script>#}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body onload="geolocalisation()">
        <!-- general wrap start -->
        <div id="gen-wrap">
            <!-- wrap start -->
            <div id="wrap" class="nz-wide">
                <header class="header mob-header cart-true nz-clearfix">
                    <div class="mob-header-top nz-clearfix">
                        <div class="container">
                            <div class="logo logo-mob">
                                <a href="index.html" title="Focuson">
                                    <img style="max-width:149px;max-height:41px;" src="{{ asset('bundles/app/upload/logo%402.png') }}" alt="Focuson">
                                </a>
                            </div>
                            <div class="cart-toggle">
                                <a class="cart-contents" href="#" title="View your shopping cart">
                                    <span class="cart-info">0</span>
                                </a>
                            </div>
                            <span class="mob-menu-toggle"></span>
                        </div>
                    </div>
                </header>

                <div class="mob-header-content nz-clearfix">

                    <span class="mob-menu-toggle2"></span>
                    <div class="custom-scroll-bar">

                        <nav class="mob-menu nz-clearfix">
                            <ul id="mob-header-menu" class="menu">
                                <li class="menu-item current-menu-item menu-item-has-children"><a href="index.html"><span class="mi"></span><span class="txt">Home</span><span class="di icon-arrow-down9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="icon-plus4 menu-item"><a href="index.html"><span class="mi"></span><span class="txt">Home Default</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-plus4 menu-item"><a href="home-2.html"><span class="mi"></span><span class="txt">Home Extended</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-plus4 menu-item"><a href="home-3.html"><span class="mi"></span><span class="txt">Home Simple</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-plus4 menu-item"><a href="home-4.html"><span class="mi"></span><span class="txt">Home Clean</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-plus4 menu-item"><a href="home-5.html"><span class="mi"></span><span class="txt">Home One Page</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-plus4 menu-item"><a href="home-6.html"><span class="mi"></span><span class="txt">Home With Products</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-plus4 menu-item"><a href="home-8.html"><span class="mi"></span><span class="txt">Home Features Extended</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-plus4 menu-item"><a href="home-9.html"><span class="mi"></span><span class="txt">Home With Contact</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-plus4 menu-item"><a href="home-10.html"><span class="mi"></span><span class="txt">Home With Pricing</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-plus4 menu-item"><a href="home-7.html"><span class="mi"></span><span class="txt">Home Features</span><span class="di icon-arrow-down9"></span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children"><a href="#"><span class="mi"></span><span class="txt">Headers</span><span class="di icon-arrow-down9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="icon-star5 menu-item menu-item-has-children"><a href="#"><span class="mi"></span><span class="txt">Headers</span><span class="di icon-arrow-down9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="index.html"><span class="mi"></span><span class="txt">Header Version 1</span></a></li>
                                                <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header2.html"><span class="mi"></span><span class="txt">Header Version 2</span></a></li>
                                                <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header3.html"><span class="mi"></span><span class="txt">Header Version 3</span></a></li>
                                                <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header4"><span class="mi"></span><span class="txt">Header Version 4</span></a></li>
                                                <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header5.html"><span class="mi"></span><span class="txt">Header Version 5</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="icon-paperplane2 menu-item menu-item-has-children"><a href="#"><span class="mi"></span><span class="txt">Headers</span><span class="di icon-arrow-down9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header6.html"><span class="mi"></span><span class="txt">Header Version 6</span></a></li>
                                                <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header7.html"><span class="mi"></span><span class="txt">Header Version 7</span></a></li>
                                                <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header8.html"><span class="mi"></span><span class="txt">Header Version 8</span></a></li>
                                                <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header9.html"><span class="mi"></span><span class="txt">Header Version 9</span></a></li>
                                                <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header10.html"><span class="mi"></span><span class="txt">Header Version 10 (Under Slider)</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="icon-heart5 menu-item menu-item-has-children"><a href="#"><span class="mi"></span><span class="txt">Page Titles</span><span class="di icon-arrow-down9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="icon-minus4 menu-item"><a href="page-title-version-1.html"><span class="mi"></span><span class="txt">Page Title Version 1</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="icon-minus4 menu-item"><a href="page-title-version-2.html"><span class="mi"></span><span class="txt">Page Title Version 2</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="icon-minus4 menu-item"><a href="page-title-version-3.html"><span class="mi"></span><span class="txt">Page Title Version 3</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="icon-minus4 menu-item"><a href="page-title-version-4.html"><span class="mi"></span><span class="txt">Page Title Version 4</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="icon-minus4 menu-item"><a href="page-title-version-5.html"><span class="mi"></span><span class="txt">Page Title Version 5</span><span class="di icon-arrow-down9"></span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children"><a href="#"><span class="mi"></span><span class="txt">Sliders</span><span class="di icon-arrow-down9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="index.html"><span class="mi"></span><span class="txt">Revolution Slider 1</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="menu-item"><a href="slider2.html"><span class="mi"></span><span class="txt">Revolution Slider 2</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="menu-item"><a href="slider3.html"><span class="mi"></span><span class="txt">Revolution Slider 3</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="menu-item"><a href="slider4.html"><span class="mi"></span><span class="txt">Revolution Slider 4</span><span class="di icon-arrow-down9"></span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children menu-item-20"><a href="#"><span class="mi"></span><span class="txt">Pages</span><span class="di icon-arrow-down9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="icon-airplane2 menu-item"><a href="about-us.html"><span class="mi"></span><span class="txt">About Us</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-dropbox menu-item"><a href="about-us-2.html"><span class="mi"></span><span class="txt">About Us 2</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-flag2 menu-item"><a href="about-us-3.html"><span class="mi"></span><span class="txt">About Us 3</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-leaf2 menu-item"><a href="services.html"><span class="mi"></span><span class="txt">Services</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-suitcase menu-item"><a href="services-2.html"><span class="mi"></span><span class="txt">Services 2</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-database menu-item"><a href="services-3.html"><span class="mi"></span><span class="txt">Services 3</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-bolt menu-item"><a href="pricing-plans.html"><span class="mi"></span><span class="txt">Pricing Plans</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-paperplane2 menu-item"><a href="contact-form.html"><span class="mi"></span><span class="txt">Contacts</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-microphone menu-item"><a href="contacts-2.html"><span class="mi"></span><span class="txt">Contacts 2</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-cone menu-item"><a href="contacts-3.html"><span class="mi"></span><span class="txt">Contacts 3</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-directions menu-item"><a href="404error.html"><span class="mi"></span><span class="txt">404 Not Found</span><span class="di icon-arrow-down9"></span></a></li>
                                        <li class="icon-megaphone2 menu-item"><a href="blank-page.html"><span class="mi"></span><span class="txt">Coming Soon</span><span class="di icon-arrow-down9"></span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children"><a href="blog.html"><span class="mi"></span><span class="txt">Blog</span><span class="di icon-arrow-down9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog2.html"><span class="mi"></span><span class="txt">Small</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog3.html"><span class="mi"></span><span class="txt">Medium</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog4.html"><span class="mi"></span><span class="txt">Large</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog5.html"><span class="mi"></span><span class="txt">List</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog6.html"><span class="mi"></span><span class="txt">Standard</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog7.html"><span class="mi"></span><span class="txt">Standard With Sidebar</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog8.html"><span class="mi"></span><span class="txt">Sidebar Active</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="retina-theme-today.html"><span class="mi"></span><span class="txt">Single Post</span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children"><a href="projects.html"><span class="mi"></span><span class="txt">Projects</span><span class="di icon-arrow-down9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects2.html"><span class="mi"></span><span class="txt">Small Standard</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects3.html"><span class="mi"></span><span class="txt">Medium Standard</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects4.html"><span class="mi"></span><span class="txt">Large Standard</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects5.html"><span class="mi"></span><span class="txt">Small Image</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects6.html"><span class="mi"></span><span class="txt">Medium Image</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects7.html"><span class="mi"></span><span class="txt">Large Image</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects8.html"><span class="mi"></span><span class="txt">Small Image No Gap</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects9.html"><span class="mi"></span><span class="txt">Medium Image No Gap</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="great-happy-woman.html"><span class="mi"></span><span class="txt">Single Project Simple</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="creative-repairing-web-2.html"><span class="mi"></span><span class="txt">Single Project Gallery</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="painting-and-repairing.html"><span class="mi"></span><span class="txt">Single Project Extended</span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children"><a href="shop.html"><span class="mi"></span><span class="txt">Shop</span><span class="di icon-arrow-down9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop2.html"><span class="mi"></span><span class="txt">Small</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop3.html"><span class="mi"></span><span class="txt">Medium</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop4.html"><span class="mi"></span><span class="txt">Sidebar Left</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop5.html"><span class="mi"></span><span class="txt">Sidebar Right</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop6.html"><span class="mi"></span><span class="txt">Single Product Sidebar Left</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop7.html"><span class="mi"></span><span class="txt">Single Product Sidebar Right</span></a></li>
                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop8.html"><span class="mi"></span><span class="txt">Single Product No Sidebar</span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-down9"></span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-has-children menu-item-160"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-down9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="elements-4.html"><span class="mi"></span><span class="txt">Accordion</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-1.html"><span class="mi"></span><span class="txt">Alert Messages</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-2.html"><span class="mi"></span><span class="txt">Animated Columns</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-1.html"><span class="mi"></span><span class="txt">Button</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-7.html"><span class="mi"></span><span class="txt">Carousel</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-5.html"><span class="mi"></span><span class="txt">Charts</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-5.html"><span class="mi"></span><span class="txt">Circle Progress</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-2.html"><span class="mi"></span><span class="txt">Clients</span><span class="di icon-arrow-down9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children menu-item-159"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-down9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="elements-2.html"><span class="mi"></span><span class="txt">Content Boxes</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-5.html"><span class="mi"></span><span class="txt">Counters</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements.html"><span class="mi"></span><span class="txt">Gap</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-7.html"><span class="mi"></span><span class="txt">Gallery</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-6.html"><span class="mi"></span><span class="txt">Google Map</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-1.html"><span class="mi"></span><span class="txt">Icons</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item menu-item-132"><a href="elements-1.html"><span class="mi"></span><span class="txt">Image Heading</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-1.html"><span class="mi"></span><span class="txt">Icon List</span><span class="di icon-arrow-down9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children menu-item-154"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-down9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="elements-5.html"><span class="mi"></span><span class="txt">Icon Progress</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-1.html"><span class="mi"></span><span class="txt">Mailchimp</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-7.html"><span class="mi"></span><span class="txt">Media Slider</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-3.html"><span class="mi"></span><span class="txt">Ordinary Tables</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-1.html"><span class="mi"></span><span class="txt">Popup Message</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-3.html"><span class="mi"></span><span class="txt">Pricing Table</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-2.html"><span class="mi"></span><span class="txt">Persons</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-5.html"><span class="mi"></span><span class="txt">Progress Bar</span><span class="di icon-arrow-down9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-down9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="elements-8.html"><span class="mi"></span><span class="txt">Recent Projects</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-8.html"><span class="mi"></span><span class="txt">Recent Posts</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-8.html"><span class="mi"></span><span class="txt">Recent Tweets</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-2.html"><span class="mi"></span><span class="txt">Row</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-1.html"><span class="mi"></span><span class="txt">Separator</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-7.html"><span class="mi"></span><span class="txt">Slick Carousel</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-1.html"><span class="mi"></span><span class="txt">Social Links</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-7.html"><span class="mi"></span><span class="txt">SoundCloud</span><span class="di icon-arrow-down9"></span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children"><a href="#"><span class="mi"></span><span class="txt">Elements</span><span class="di icon-arrow-down9"></span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="elements-4.html"><span class="mi"></span><span class="txt">Tabs</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-2.html"><span class="mi"></span><span class="txt">Taglines</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-2.html"><span class="mi"></span><span class="txt">Testimonials</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-5.html"><span class="mi"></span><span class="txt">Timer</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-7.html"><span class="mi"></span><span class="txt">Video Player</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-7.html"><span class="mi"></span><span class="txt">Vimeo</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-9.html"><span class="mi"></span><span class="txt">Woo Elements</span><span class="di icon-arrow-down9"></span></a></li>
                                                <li class="menu-item"><a href="elements-7.html"><span class="mi"></span><span class="txt">Youtube</span><span class="di icon-arrow-down9"></span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>

                        <nav class="header-top-menu nz-clearfix">
                            <ul  class="menu">
                                <li class="menu-item menu-item-has-children"><a href="#"><span class="mi"></span><span class="txt">Solutions</span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Overview</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Analytics</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Optimization</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Applications</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Cloud serices</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Mobility</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Collaboration</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Communication</span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children"><a href="#"><span class="mi"></span><span class="txt">Products</span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Overview</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Application</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">MarvelClient</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">GreenLight</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">GroupExplorer</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">SmartChanger</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Bundles</span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">News &#038; Events</span></a></li>
                                <li class="menu-item menu-item-has-children"><a href="#"><span class="mi"></span><span class="txt">Company</span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">About</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Mission</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Partners</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Career</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Contact</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">People</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="mi"></span><span class="txt">Customers</span></a></li>
                                    </ul>
                                </li>
                                <li class="icon-login menu-item"><a href="#"><span class="mi"></span><span class="txt">Sign In</span></a></li>
                                <li class="menu-item menu-item-language menu-item-language-current menu-item-has-children"><a href="#" onclick="return false"><span class="mi"></span><span class="txt">Français</span></a>
                                    <ul class="sub-menu submenu-languages">
                                        <li class="menu-item menu-item-language"><a href="#">English</a></li>
                                        <li class="menu-item menu-item-language"><a href="#">German</a></li>
                                        <li class="menu-item menu-item-language"><a href="#">Spanish</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>

                        <div class="slogan nz-clearfix">
                            <div class="nz-bar"><span class="nz-icon none small icon-phone animate-false"></span><span class="header-top-label">Questions?</span> Appelez-Nous au : (+221) 77 777 77 77</div>
                            <div class="nz-bar"><span class="nz-icon none small icon-envelope animate-false"></span>contact@dara-du-yaaku.com</div>
                        </div>

                        <!--a-- class="top-button" href="contact-form.html">Get a Quote</a-->

                        <div class="search nz-clearfix">
                            <form action="#" method="get">
                                <fieldset>
                                    <input type="text" name="s"  data-placeholder="Search for..." value="Search for..." />
                                    <input type="submit"  value="Search" />
                                </fieldset>
                                <input type='hidden' name='lang' value='en' />
                            </form>
                        </div>

                    </div>
                </div>
                <div class="mob-overlay">&nbsp;</div>

                <header class="header desk version1 stuck-false top-true sl-false search-true cart-true iversion-dark effect-underline subeffect-ghost fixed-true fiversion-dark">

                    <div class="header-content">

                        <div class="header-top">
                            <div class="container nz-clearfix">

                                <div class="slogan nz-clearfix">
                                    <div class="nz-bar"><span class="nz-icon none small icon-phone animate-false"></span><span class="header-top-label">Questions?</span> Call us: (855) 655-4356</div>
                                    <div class="nz-bar"><span class="nz-icon none small icon-envelope animate-false"></span>support@ninzio.com</div>
                                </div>

                                <a class="top-button" href="contact-form.html">Get a Quote</a>

                                <nav class="header-top-menu nz-clearfix">
                                    <ul  class="menu">
                                        <li class="menu-item menu-item-language menu-item-language-current menu-item-has-children"><a href="#" onclick="return false"><span class="mi"></span><span class="txt">English</span></a>
                                            <ul class="sub-menu submenu-languages">
                                                <li class="menu-item menu-item-language"><a href="#">Danish</a></li>
                                                <li class="menu-item menu-item-language"><a href="#">French</a></li>
                                                <li class="menu-item menu-item-language"><a href="#">German</a></li>
                                                <li class="menu-item menu-item-language"><a href="#">Spanish</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="nz-sl social-links nz-clearfix left">
                                                <!--a-- class="icon-rss" href="http://feeds.bbci.co.uk/news/rss.xml?edition=uk" target="_self" ></a-->
                                                <a class="icon-facebook" href="http://facebook.com/" target="_self" ></a>
                                                <a class="icon-twitter" href="http://twitter.com/" target="_self" ></a>
                                                <a class="icon-googleplus" href="http://googleplus.com/" target="_self" ></a>
                                                <a class="icon-youtube" href="http://youtube.com/" target="_self" ></a>
                                                <a class="icon-instagram" href="https://www.instagram.com/" target="_self" ></a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                        </div>

                        <div class="header-body">
                            <div class="container nz-clearfix">

                                <div class="logo logo-desk">
                                    <a href="index.html" title="Focuson">
                                        <img style="max-width:149px;max-height:41px;" src="{{ asset('bundles/app/upload/logo%402.png') }}" alt="Focuson">
                                    </a>
                                </div>

                                <div class="logo logo-desk-fixed">
                                    <a href="index.html" title="Focuson">
                                        <img style="max-width:149px;max-height:41px;" src="{{ asset('bundles/app/upload/logo%402.png') }}" alt="Focuson">
                                    </a>
                                </div>

                                <div class="search-toggle"></div>
                                <div class="search">
                                    <form action="#" method="get">
                                        <fieldset>
                                            <input type="text" name="s"  data-placeholder="Search for..." value="Search for..." />
                                            <input type="submit"  value="Search" />
                                        </fieldset>
                                        <input type='hidden' name='lang' value='en' />
                                    </form>
                                </div>

                                <nav class="header-menu desk-menu nz-clearfix">
                                    <ul id="header-menu" class="menu">
                                        <li class="menu-item current-menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="{{ path('app_find_magasin') }}"><span class="mi"></span><span class="txt">Trouvez des magasins</span></a></li>
                                        <li class="menu-item menu-item-has-children" data-mm="true" data-mmc="3"><a href="#"><span class="mi"></span><span class="txt">Headers</span></a>
                                            <ul class="sub-menu">
                                                <li class="icon-star5 menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Headers</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="index.html"><span class="mi"></span><span class="txt">Header Version 1</span></a></li>
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header2.html"><span class="mi"></span><span class="txt">Header Version 2</span></a></li>
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header3.html"><span class="mi"></span><span class="txt">Header Version 3</span></a></li>
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header4"><span class="mi"></span><span class="txt">Header Version 4</span></a></li>
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header5.html"><span class="mi"></span><span class="txt">Header Version 5</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="icon-paperplane2 menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Headers</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header6.html"><span class="mi"></span><span class="txt">Header Version 6</span></a></li>
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header7.html"><span class="mi"></span><span class="txt">Header Version 7</span></a></li>
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header8.html"><span class="mi"></span><span class="txt">Header Version 8</span></a></li>
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header9.html"><span class="mi"></span><span class="txt">Header Version 9</span></a></li>
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="header10.html"><span class="mi"></span><span class="txt">Header Version 10 (Under Slider)</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="icon-heart5 menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Page Titles</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="page-title-version-1.html"><span class="mi"></span><span class="txt">Page Title Version 1</span></a></li>
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="page-title-version-2.html"><span class="mi"></span><span class="txt">Page Title Version 2</span></a></li>
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="page-title-version-3.html"><span class="mi"></span><span class="txt">Page Title Version 3</span></a></li>
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="page-title-version-4.html"><span class="mi"></span><span class="txt">Page Title Version 4</span></a></li>
                                                        <li class="icon-minus4 menu-item" data-mm="false" data-mmc="2"><a href="page-title-version-5.html"><span class="mi"></span><span class="txt">Page Title Version 5</span></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Sliders</span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="index.html"><span class="mi"></span><span class="txt">Revolution Slider 1</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="slider2.html"><span class="mi"></span><span class="txt">Revolution Slider 2</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="slider3.html"><span class="mi"></span><span class="txt">Revolution Slider 3</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="slider4.html"><span class="mi"></span><span class="txt">Revolution Slider 4</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Pages</span></a>
                                            <ul class="sub-menu">
                                                <li class="icon-airplane2 menu-item" data-mm="false" data-mmc="2"><a href="about-us.html"><span class="mi"></span><span class="txt">About Us</span></a></li>
                                                <li class="icon-dropbox menu-item" data-mm="false" data-mmc="2"><a href="about-us-2.html"><span class="mi"></span><span class="txt">About Us 2</span></a></li>
                                                <li class="icon-flag2 menu-item" data-mm="false" data-mmc="2"><a href="about-us-3.html"><span class="mi"></span><span class="txt">About Us 3</span></a></li>
                                                <li class="icon-leaf2 menu-item" data-mm="false" data-mmc="2"><a href="services.html"><span class="mi"></span><span class="txt">Services</span></a></li>
                                                <li class="icon-suitcase menu-item" data-mm="false" data-mmc="2"><a href="services-2.html"><span class="mi"></span><span class="txt">Services 2</span></a></li>
                                                <li class="icon-database menu-item" data-mm="false" data-mmc="2"><a href="services-3.html"><span class="mi"></span><span class="txt">Services 3</span></a></li>
                                                <li class="icon-bolt menu-item" data-mm="false" data-mmc="2"><a href="pricing-plans.html"><span class="mi"></span><span class="txt">Pricing Plans</span></a></li>
                                                <li class="icon-paperplane2 menu-item" data-mm="false" data-mmc="2"><a href="contact-form.html"><span class="mi"></span><span class="txt">Contacts</span></a></li>
                                                <li class="icon-microphone menu-item" data-mm="false" data-mmc="2"><a href="contacts-2.html"><span class="mi"></span><span class="txt">Contacts 2</span></a></li>
                                                <li class="icon-cone menu-item" data-mm="false" data-mmc="2"><a href="contacts-3.html"><span class="mi"></span><span class="txt">Contacts 3</span></a></li>
                                                <li class="icon-directions menu-item" data-mm="false" data-mmc="2"><a href="404error.html"><span class="mi"></span><span class="txt">404 Not Found</span></a></li>
                                                <li class="icon-megaphone2 menu-item" data-mm="false" data-mmc="2"><a href="blank-page.html"><span class="mi"></span><span class="txt">Coming Soon</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="blog.html"><span class="mi"></span><span class="txt">Blog</span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog2.html"><span class="mi"></span><span class="txt">Small</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog3.html"><span class="mi"></span><span class="txt">Medium</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog4.html"><span class="mi"></span><span class="txt">Large</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog5.html"><span class="mi"></span><span class="txt">List</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog6.html"><span class="mi"></span><span class="txt">Standard</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog7.html"><span class="mi"></span><span class="txt">Standard With Sidebar</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="blog8.html"><span class="mi"></span><span class="txt">Sidebar Active</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="retina-theme-today.html"><span class="mi"></span><span class="txt">Single Post</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="projects.html"><span class="mi"></span><span class="txt">Projects</span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects2.html"><span class="mi"></span><span class="txt">Small Standard</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects3.html"><span class="mi"></span><span class="txt">Medium Standard</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects4.html"><span class="mi"></span><span class="txt">Large Standard</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects5.html"><span class="mi"></span><span class="txt">Small Image</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects6.html"><span class="mi"></span><span class="txt">Medium Image</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects7.html"><span class="mi"></span><span class="txt">Large Image</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects8.html"><span class="mi"></span><span class="txt">Small Image No Gap</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="projects9.html"><span class="mi"></span><span class="txt">Medium Image No Gap</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="great-happy-woman.html"><span class="mi"></span><span class="txt">Single Project Simple</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="creative-repairing-web-2.html"><span class="mi"></span><span class="txt">Single Project Gallery</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="painting-and-repairing.html"><span class="mi"></span><span class="txt">Single Project Extended</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="shop.html"><span class="mi"></span><span class="txt">Shop</span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop2.html"><span class="mi"></span><span class="txt">Small</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop3.html"><span class="mi"></span><span class="txt">Medium</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop4.html"><span class="mi"></span><span class="txt">Sidebar Left</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop5.html"><span class="mi"></span><span class="txt">Sidebar Right</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop6.html"><span class="mi"></span><span class="txt">Single Product Sidebar Left</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop7.html"><span class="mi"></span><span class="txt">Single Product Sidebar Right</span></a></li>
                                                <li class="menu-item" data-mm="false" data-mmc="2"><a href="shop8.html"><span class="mi"></span><span class="txt">Single Product No Sidebar</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children" data-mm="true" data-mmc="5"><a href="#"><span class="mi"></span><span class="txt">Elements</span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-4.html"><span class="mi"></span><span class="txt">Accordion</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Alert Messages</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Animated Columns</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Button</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Carousel</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Charts</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Circle Progress</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Clients</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Content Boxes</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Counters</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements.html"><span class="mi"></span><span class="txt">Gap</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Gallery</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-6.html"><span class="mi"></span><span class="txt">Google Map</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Icons</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Image Heading</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Icon List</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Icon Progress</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Mailchimp</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Media Slider</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-3.html"><span class="mi"></span><span class="txt">Ordinary Tables</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Popup Message</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-3.html"><span class="mi"></span><span class="txt">Pricing Table</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Persons</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Progress Bar</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-8.html"><span class="mi"></span><span class="txt">Recent Projects</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-8.html"><span class="mi"></span><span class="txt">Recent Posts</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-8.html"><span class="mi"></span><span class="txt">Recent Tweets</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Row</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Separator</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Slick Carousel</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-1.html"><span class="mi"></span><span class="txt">Social Links</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">SoundCloud</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-has-children" data-mm="false" data-mmc="2"><a href="#"><span class="mi"></span><span class="txt">Elements</span></a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-4.html"><span class="mi"></span><span class="txt">Tabs</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Taglines</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-2.html"><span class="mi"></span><span class="txt">Testimonials</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-5.html"><span class="mi"></span><span class="txt">Timer</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Video Player</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Vimeo</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-9.html"><span class="mi"></span><span class="txt">Woo Elements</span></a></li>
                                                        <li class="menu-item" data-mm="false" data-mmc="2"><a href="elements-7.html"><span class="mi"></span><span class="txt">Youtube</span></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>


                <div class="page-content-wrap">
                    {% block slide %}
                        {% include "::slideshow.html.twig" %}
                    {% endblock %}<!-- END REVOLUTION SLIDER -->
                    <!-- content start -->
                    <div id="nz-content" class='content nz-clearfix padding-false'>
                        <div class='container page-full-width'>
                            <!-- post start -->
                            {% block content %}
                            {% endblock content %}
                            <!-- post end -->
                        </div>
                    </div>
                    <!-- content end -->
                    <!-- footer start -->
                    {% include '::footer.html.twig' %}
                    <!-- footer end -->
                </div>
            </div>
            <!-- wrap end -->
        </div>
        <a id="top" href="#wrap"></a>
        <!-- general wrap end -->

        {% block javascripts %}
            <script type='text/javascript' src='{{ asset('bundles/app/js/jquery/jquery.js') }}'></script>
            <script type='text/javascript' src='{{ asset('bundles/app/js/jquery/jquery-migrate.min.js') }}'></script>

            <script type='text/javascript' src='{{ asset('bundles/app/js/jquery.themepunch.tools.min.js') }}'></script>
            <script type='text/javascript' src='{{ asset('bundles/app/js/jquery.themepunch.revolution.min.js') }}'></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/extensions/revolution.extension.navigation.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/extensions/revolution.extension.actions.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/extensions/revolution.extension.carousel.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/extensions/revolution.extension.migration.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/extensions/revolution.extension.parallax.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/extensions/revolution.extension.video.min.js') }}"></script>

            <script type='text/javascript' src='{{ asset('bundles/app/js/modernizr.js') }}'></script>
            <script type='text/javascript' src='{{ asset('bundles/app/js/jquery-blockui/jquery.blockUI.min.js') }}'></script>
            <script type='text/javascript' src='{{ asset('bundles/app/js/frontend/woocommerce.min.js') }}'></script>
            <script type='text/javascript' src='{{ asset('bundles/app/js/controller.js') }}'></script>
            <script type='text/javascript' src='{{ asset('bundles/app/js/js_composer_front.min.js') }}'></script>


            <!-- /******************************************
                Slider Activation is from here to the end
            ******************************************/ -->

            <script>
                var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
                var htmlDivCss = "";
                if (htmlDiv) {
                    htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                } else {
                    var htmlDiv = document.createElement("div");
                    htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                    document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                }
            </script>
            <script>
                var htmlDiv = document.getElementById("rs-plugin-settings-inline-css");
                var htmlDivCss = "";
                if (htmlDiv) {
                    htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                } else {
                    var htmlDiv = document.createElement("div");
                    htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                    document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                }
            </script>

            <script type="text/javascript">
                /******************************************
                 -	PREPARE PLACEHOLDER FOR SLIDER	-
                 ******************************************/

                var setREVStartSize = function() {
                    try {
                        var e = new Object,
                                i = jQuery(window).width(),
                                t = 9999,
                                r = 0,
                                n = 0,
                                l = 0,
                                f = 0,
                                s = 0,
                                h = 0;
                        e.c = jQuery('#rev_slider_1_1');
                        e.gridwidth = [1170];
                        e.gridheight = [650];

                        e.sliderLayout = "auto";
                        if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function(e, f) {
                                    f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                                }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) {
                            var u = (e.c.width(), jQuery(window).height());
                            if (void 0 != e.fullScreenOffsetContainer) {
                                var c = e.fullScreenOffsetContainer.split(",");
                                if (c) jQuery.each(c, function(e, i) {
                                    u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                                }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0))
                            }
                            f = u
                        } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                        e.c.closest(".rev_slider_wrapper").css({
                            height: f
                        })

                    } catch (d) {
                        console.log("Failure at Presize of Slider:" + d)
                    }
                };

                setREVStartSize();

                var tpj = jQuery;

                var revapi1;
                tpj(document).ready(function() {
                    if (tpj("#rev_slider_1_1").revolution == undefined) {
                        revslider_showDoubleJqueryError("#rev_slider_1_1");
                    } else {
                        revapi1 = tpj("#rev_slider_1_1").show().revolution({
                            sliderType: "standard",
                            jsFileLocation: "js/",
                            sliderLayout: "auto",
                            dottedOverlay: "none",
                            delay: 9000,
                            navigation: {
                                keyboardNavigation: "off",
                                keyboard_direction: "horizontal",
                                mouseScrollNavigation: "off",
                                mouseScrollReverse: "default",
                                onHoverStop: "off",
                                arrows: {
                                    style: "metis",
                                    enable: true,
                                    hide_onmobile: true,
                                    hide_under: 768,
                                    hide_onleave: true,
                                    hide_delay: 200,
                                    hide_delay_mobile: 1200,
                                    tmp: '',
                                    left: {
                                        h_align: "left",
                                        v_align: "center",
                                        h_offset: 20,
                                        v_offset: 0
                                    },
                                    right: {
                                        h_align: "right",
                                        v_align: "center",
                                        h_offset: 20,
                                        v_offset: 0
                                    }
                                },
                                bullets: {
                                    enable: true,
                                    hide_onmobile: true,
                                    hide_under: 640,
                                    style: "hermes",
                                    hide_onleave: false,
                                    direction: "horizontal",
                                    h_align: "center",
                                    v_align: "bottom",
                                    h_offset: 0,
                                    v_offset: 20,
                                    space: 10,
                                    tmp: ''
                                }
                            },
                            visibilityLevels: [1240, 1024, 778, 480],
                            gridwidth: 1170,
                            gridheight: 650,
                            lazyType: "none",
                            parallax: {
                                type: "mouse",
                                origo: "enterpoint",
                                speed: 400,
                                levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 55],
                                type: "mouse",
                            },
                            shadow: 0,
                            spinner: "spinner5",
                            stopLoop: "off",
                            stopAfterLoops: -1,
                            stopAtSlide: -1,
                            shuffle: "off",
                            autoHeight: "off",
                            disableProgressBar: "on",
                            hideThumbsOnMobile: "off",
                            hideSliderAtLimit: 0,
                            hideCaptionAtLimit: 0,
                            hideAllCaptionAtLilmit: 0,
                            debugMode: false,
                            fallbacks: {
                                simplifyAll: "off",
                                nextSlideOnWindowFocus: "off",
                                disableFocusListener: false,
                            }
                        });
                    }
                }); /*ready*/
            </script>
            <script>
                var htmlDivCss = unescape("%23rev_slider_1_1%20.metis.tparrows%20%7B%0A%20%20background%3Argba%28255%2C%20255%2C%20255%2C%201%29%3B%0A%20%20padding%3A10px%3B%0A%20%20transition%3Aall%200.3s%3B%0A%20%20-webkit-transition%3Aall%200.3s%3B%0A%20%20width%3A60px%3B%0A%20%20height%3A60px%3B%0A%20%20box-sizing%3Aborder-box%3B%0A%20%7D%0A%20%0A%20%23rev_slider_1_1%20.metis.tparrows%3Ahover%20%7B%0A%20%20%20background%3Argba%28255%2C255%2C255%2C0.75%29%3B%0A%20%7D%0A%20%0A%20%23rev_slider_1_1%20.metis.tparrows%3Abefore%20%7B%0A%20%20color%3Argb%280%2C%200%2C%200%29%3B%20%20%0A%20%20%20transition%3Aall%200.3s%3B%0A%20%20-webkit-transition%3Aall%200.3s%3B%0A%20%7D%0A%20%0A%20%23rev_slider_1_1%20.metis.tparrows%3Ahover%3Abefore%20%7B%0A%20%20%20transform%3Ascale%281.5%29%3B%0A%20%20%7D%0A%20%0A.hermes.tp-bullets%20%7B%0A%7D%0A%0A.hermes%20.tp-bullet%20%7B%0A%20%20%20%20overflow%3Ahidden%3B%0A%20%20%20%20border-radius%3A50%25%3B%0A%20%20%20%20width%3A10px%3B%0A%20%20%20%20height%3A10px%3B%0A%20%20%20%20background-color%3A%20rgba%280%2C%200%2C%200%2C%200%29%3B%0A%20%20%20%20box-shadow%3A%20inset%200%200%200%202px%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20%20%20-webkit-transition%3A%20background%200.3s%20ease%3B%0A%20%20%20%20transition%3A%20background%200.3s%20ease%3B%0A%20%20%20%20position%3Aabsolute%3B%0A%7D%0A%0A.hermes%20.tp-bullet%3Ahover%20%7B%0A%09%20%20background-color%3A%20rgba%28111%2C%20196%2C%200%2C%201%29%3B%0A%7D%0A.hermes%20.tp-bullet%3Aafter%20%7B%0A%20%20content%3A%20%27%20%27%3B%0A%20%20position%3A%20absolute%3B%0A%20%20bottom%3A%200%3B%0A%20%20height%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20background-color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20box-shadow%3A%200%200%201px%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20-webkit-transition%3A%20height%200.3s%20ease%3B%0A%20%20transition%3A%20height%200.3s%20ease%3B%0A%7D%0A.hermes%20.tp-bullet.selected%3Aafter%20%7B%0A%20%20height%3A100%25%3B%0A%7D%0A%0A");
                var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                if (htmlDiv) {
                    htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                } else {
                    var htmlDiv = document.createElement('div');
                    htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                    document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                }
            </script>

            <!-- /******************************************
                Slider end
            ******************************************/ -->
        {% endblock %}
    </body>
</html>
