<footer class='footer'>
    <div class="footer-widget-area nz-clearfix">
        <div class="container">
            <aside class="footer-widget-area widget-area nz-clearfix">
                <div id="text-2" class="widget widget_text">
                    <div class="textwidget"><img src="{{ asset('bundles/app/upload/logo_white.png') }}" alt="Focuson">
                        <div class="gap nz-clearfix" style="height:35px">&nbsp;</div>
                        We create Premium Html Themes for more than three years. Our team goal is to reunite the
                        elegance of a unique design with a professional programming
                        <div class="gap nz-clearfix" style="height:25px">&nbsp;</div>
                        We create Unique and Easy To Use Flexible Html Themes With Advanced Functionality
                    </div>
                </div>
                <div id="nz-recent-posts-2" class="widget widget_nz_recent_entries">
                    <h6 class="widget_title">Recent posts</h6>
                    <ul>

                        <li class="post">
                            <div class="post-date-custom"><span>08</span><span>Sep</span></div>
                            <div class="post-body">
                                <a class="post-title" href="#">Welcome to Responsive Retina Theme</a>
                                <div class="widget-post-category"><a href="3" rel="category tag">Design</a></div>
                            </div>
                        </li>

                        <li class="post">
                            <div class="post-date-custom"><span>03</span><span>Sep</span></div>
                            <div class="post-body">
                                <a class="post-title" href="#">Html Responsive Transportashion</a>
                                <div class="widget-post-category"><a href="#" rel="category tag">Marketing</a></div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div id="mailchimp-2" class="widget widget_mailchimp">
                    <h6 class="widget_title">Subscribe</h6>
                    <div id="mc_embed_signup">
                        <div class="mailchimp-subtitle">Enter your email and we&#039;ll send you a coupon with 10% off
                            your next order.
                        </div>
                        <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                              class="validate" target="_blank" novalidate><span class="icon-mail6 icon"></span>
                            <input type="text" value="" name="EMAIL" class="email" id="mce-EMAIL"
                                   data-placeholder="Your Email" required>
                            <input type="submit" value="Subscribe now!" name="subscribe" id="mc-embedded-subscribe">
                        </form>
                        <div class="mailchimp-description"></div>
                    </div>
                </div>
                <div id="recent_projects-2" class="widget widget_recent_projects">
                    <h6 class="widget_title">Recent projects</h6>
                    <div class="recent-projects nz-clearfix">
                        <div class="post nz-clearfix">
                            <a href="#" title="Jurong Hub">
                                <div class="nz-thumbnail">
                                    <div class="ninzio-overlay"><span class="nz-overlay-before icon-plus4"></span></div>
                                    <img width="150" height="150"
                                         src="{{ asset('bundles/app/upload/portfolio1-150x150.jpg') }}"
                                         class="attachment-thumbnail size-thumbnail wp-post-image" alt="portfolio1"/>
                                </div>
                            </a>
                        </div>
                        <div class="post nz-clearfix">
                            <a href="#" title="Mapletree Benoi">
                                <div class="nz-thumbnail">
                                    <div class="ninzio-overlay"><span class="nz-overlay-before icon-plus4"></span></div>
                                    <img width="150" height="150"
                                         src="{{ asset('bundles/app/upload/portfolio2-150x150.jpg') }}'"
                                         class="attachment-thumbnail size-thumbnail wp-post-image" alt="portfolio2"/>
                                </div>
                            </a>
                        </div>
                        <div class="post nz-clearfix">
                            <a href="#" title="Mapletree Wuxi">
                                <div class="nz-thumbnail">
                                    <div class="ninzio-overlay"><span class="nz-overlay-before icon-plus4"></span></div>
                                    <img width="150" height="150"
                                         src="{{ asset('bundles/app/upload/portfolio3-150x150.jpg') }}"
                                         class="attachment-thumbnail size-thumbnail wp-post-image" alt="portfolio3"/>
                                </div>
                            </a>
                        </div>
                        <div class="post nz-clearfix">
                            <a href="#" title="Namanseong">
                                <div class="nz-thumbnail">
                                    <div class="ninzio-overlay"><span class="nz-overlay-before icon-plus4"></span></div>
                                    <img width="150" height="150"
                                         src="{{ asset('bundles/app/upload/portfolio4-150x150.jpg') }}"
                                         class="attachment-thumbnail size-thumbnail wp-post-image" alt="portfolio4"/>
                                </div>
                            </a>
                        </div>
                        <div class="post nz-clearfix">
                            <a href="#" title="WaiGao">
                                <div class="nz-thumbnail">
                                    <div class="ninzio-overlay"><span class="nz-overlay-before icon-plus4"></span></div>
                                    <img width="150" height="150"
                                         src="{{ asset('bundles/app/upload/portfolio5-150x150.jpg') }}"
                                         class="attachment-thumbnail size-thumbnail wp-post-image" alt="portfolio5"/>
                                </div>
                            </a>
                        </div>
                        <div class="post nz-clearfix">
                            <a href="#" title="Mapletree AIP">
                                <div class="nz-thumbnail">
                                    <div class="ninzio-overlay"><span class="nz-overlay-before icon-plus4"></span></div>
                                    <img width="150" height="150"
                                         src="{{ asset('bundles/app/upload/portfolio6-150x150.jpg') }}"
                                         class="attachment-thumbnail size-thumbnail wp-post-image" alt="portfolio6"/>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <div class="footer-info-area nz-clearfix">
        <div class="container">
            <div class="footer-copyright nz-clearfix">
                All Rights Reserved | Copyright 2016 © <a href="#">Max Themes</a></div>
            <div class="social-links">
                <a class="icon-facebook" href="http://facebook.com/" title="facebook" target="_blank"></a>
                <a class="icon-twitter" href="http://twitter.com/" title="twitter" target="_blank"></a>
                <a class="icon-googleplus" href="http://googleplus.com/" title="google" target="_blank"></a>
                <a class="icon-youtube" href="http://youtube.com/" title="youtube" target="_blank"></a>
                <a class="icon-envelope" href="#" title="email" target="_blank"></a>
            </div>
            <nav class="footer-menu nz-clearfix">
                <ul id="footer-menu" class="menu">
                    <li class="menu-item menu-item-12"><a href="#">About us</a></li>
                    <li class="menu-item menu-item-13"><a href="#">Blog</a></li>
                    <li class="menu-item menu-item-14"><a href="#">Contact us</a></li>
                    <li class="menu-item menu-item-15"><a href="#">FAQ</a></li>
                    <li class="menu-item menu-item-16"><a href="#">Services</a></li>
                    <li class="menu-item menu-item-17"><a href="#">Shop</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>