{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Horaires list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Creation</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horaire in horaires %}
            <tr>
                <td><a href="{{ path('horaires_show', { 'id': horaire.id }) }}">{{ horaire.id }}</a></td>
                <td>{{ horaire.jour }}</td>
                <td>{% if horaire.debut %}{{ horaire.debut|date('H:i:s') }}{% endif %}</td>
                <td>{% if horaire.fin %}{{ horaire.fin|date('H:i:s') }}{% endif %}</td>
                <td>{{ horaire.creation }}</td>
                <td>{% if horaire.statut %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('horaires_show', { 'id': horaire.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('horaires_edit', { 'id': horaire.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('horaires_new') }}">Create a new horaire</a>
        </li>
    </ul>
{% endblock %}
