{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Magasin</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ magasin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ magasin.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ magasin.adresse }}</td>
            </tr>
            <tr>
                <th>Adressecomplete</th>
                <td>{{ magasin.adresseComplete }}</td>
            </tr>
            <tr>
                <th>Lattitude</th>
                <td>{{ magasin.lattitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ magasin.longitude }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ magasin.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ magasin.image }}</td>
            </tr>
            <tr>
                <th>Icone</th>
                <td>{{ magasin.icone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('magasin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('magasin_edit', { 'id': magasin.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
